html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #d4efff;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .kanha {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 97vmin;
        height: 104vmin;
    }


    .kanha {
        --body-color: #71bfe0;
        --hair-color: #3b2b2b;
        --hand-color: #78c5e6;
        --jewelary-color: #ffca13;
    }

    .cmn::before, .cmn::after {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
    }

    .kanha div {
        position: absolute;
    }

.face{
  width:13%;
  height:10%;
  background:var(--body-color);
  border-radius:50%;
  top:20%;
  left:45%;
}

.face::before{
  width:88%;
  height:39%;
  background:var(--body-color);
  top:-11%;
  left:6%;
  
}
.face::after{
  width:29%;
  height:37%;
  border-radius:40%;
  right:0;
  background:var(--hair-color);
  transform:translate(29%,53%);
  z-index:-2;
  box-shadow:0.5vmin 2vmin var(--hair-color),-0.5vmin -2vmin var(--hair-color),-0.8vmin 3.8vmin var(--hair-color), -10.8vmin -2.2vmin var(--hair-color), -11.8vmin -0.2vmin var(--hair-color),-10.8vmin 1.8vmin var(--hair-color), -9.8vmin 3.8vmin var(--hair-color);
}

.eye{
  width:20%;
  height:23%;
  border-bottom:0.4vmin solid #4898b0;
  left:16%;
  top:24%;
  border-radius:50%;
}
.eye+.eye{
  left:63%;
}
.nose{
  width:13%;
  height:13%;
  top:57%;
  border:0.3vmin solid #4898b0;
  left:42%;
 border-right:transparent;
  border-radius:50%;
  border-top:transparent;
}
.tilak{
  width:11%;
  height:15%;
  top:25%;
  border:2px solid red;
  border-top:transparent;
  border-radius:0 0  50% 50%;
  left:45%;
}
.mouth{
  width:17%;
  height: 1%;
  top:82%;
  background:#4898b0;
  left:40%;
}

.hair{
  width:13%;
  height:8%;
  background:var(--hair-color);
  top:13%;
  left:45%;
  border-radius:50%;
}
.hair::before{
  width:35%;
  height:49%;
  border-radius:50%;
  background:var(--hair-color);
  top:-31%;
  left:30%;
}
.hair::after{
  width:21%;
  height:30%;
  background:var(--hair-color);
  border-radius:50%;
  top:65%;
  box-shadow:1.5vmin 0.5vmin var(--hair-color),4vmin 1.2vmin var(--hair-color), 6vmin 1.1vmin var(--hair-color),8.5vmin 0.7vmin var(--hair-color),10.5vmin -0.9vmin 0 0.2vmin var(--hair-color),10.5vmin 0.1vmin 0 0.2vmin var(--hair-color),0 0.1vmin 0 0.2vmin var(--hair-color),-1vmin -1vmin var(--hair-color),-1vmin 0 var(--hair-color);
}

.hair-wing{
  width:3%;
  height:6%;
  border-radius:50%;
  background:blue;
  top:10%;
  transform:translate(-121%,-33%) rotate(345deg);
  left:50%;
  box-shadow:inset 0 1vmin 1vmin 0 green,inset 0 2vmin 0.8vmin 1vmin yellow;
}
.earing{
  width:3%;
  height:3%;
  top:24%;
  left:43.6%;
  border-radius:50%;
  border:0.6vmin solid var(--jewelary-color)
}
.earing+.earing{
  left:56.4%;
}

.neck{
  width:4%;
  height:5%;
  background:var(--body-color);
  top:30%;
  left:50%;
  transform:translate(-12%,-14%);
}


.body{
  width:15%;
  height:20%;
  background:var(--body-color);
  top:30%;
  left:50%;
  transform:translate(-37%,1%);
  border-radius:40% 40% 14% 14%;
  background-image:linear-gradient(transparent,transparent 90%, var(--jewelary-color) 0)
}

.mala{
  width:60%;
  height:60%;
  border:1vmin solid var(--jewelary-color);
  border-radius:50%;
  border-top:transparent;
  top:-3.3%;
  left:16%;
}
.hand{
  width:13%;
  height:12%;
  border-radius:49% 16% 13% 9%;
  border:3vmin solid var(--hand-color);
  top:26%;
  left:42%;
  transform:rotate(52deg);
  border-left:transparent;
  border-top:transparent;
}
.hand::after{
  width:44%;
  height:12%;
  border-radius:46%;
  top:123%;
  background:var(--hand-color);
  left:-39%;
  box-shadow: 0 -2.4vmin var(--hand-color);
}
.hand::before{
  width:36%;
  height:44%;
  border-radius:49%;
  background:var(--hand-color);
  top:94%;
  left:-22%;
  transform:rotate(91deg);
}

.hand+.hand{
  left:37%;
  z-index:-1;
  top:27%;
}

.flute{
  border-radius:3%;
  width:24%;
  height:2%;
  background:#9b523b;
  top:30%;
  left:29%;
  transform:translate(-5%,-32%) rotate(-4deg);
}
.ring{
  top:1%;
  left:0;
  width:3%;
  height:100%;
  background:var(--jewelary-color);
  box-shadow:4vmin 0 var(--jewelary-color),8vmin 0 var(--jewelary-color),13vmin 0 var(--jewelary-color),18vmin 0 var(--jewelary-color),23vmin 0 var(--jewelary-color)
}

.cloud,.cloud-2{
  top:51vmin;
  left:47vmin;
  width:36vmin;
  background:#ECEFF1;
  height:13vmin;
  box-shadow:10px 10px rgb(0 0 0/20%);
  border-radius:10vmin;
}
 .cloud::after, .cloud::before, .cloud-2::after, .cloud-2::before {
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}

.cloud::after, .cloud-2::after {
  width:10vmin;
  height:10vmin;
  top:-12vmin;
  left:-9vmin;
}
.cloud::before,.cloud-2::before{
  width:17vmin;
  height:17vmin;
  top:-9vmin;
  left:17vmin;
}
.cloud-2{
  left:16vmin;
}